<div class="center jumbotron">
  <h1>Welcome to Momintum!</h1>
  
  <%= link_to "Register now!", register_path, class: "btn btn-lg btn-primary" %>
</div>

<!--%= link_to image_tag("logo.png", alt: "Momintum logo"),
            'http://worx.momintum.com' %-->

<h2>What is Momintum?</h2>

<p>Momintum connects people and ideas (called "sparks") to make a better future, through the power of collaboration.</p>

<ul>
  <li><strong>Build sustainable business models</strong></li>
  <li><strong>Solve world and social problems</strong></li>
  <li><strong>Leverage the power of "crowd"</strong></li>
</ul>

<p><%= link_to 'See what others are up to right now', sparks_path %></p>