function addSection(json) {  
  // Target HTML:
  // <div class="canvasSection" id="sectionId" >
  //    <div id="nameFieldId" contenteditable="true" style="float: left;"><strong>name</strong></div>
  // <div>
  var section = document.createElement("div");
  section.className = "canvasSection";
  section.id = 'section' + json.id;
  $('#sectionContainer').append(section);

  var nameField = document.createElement("div");
  var nameFieldId = 'section' + json.id + "Name";
  nameField.id = nameFieldId;	        
  nameField.innerHTML = "<strong>" + json.name + "</strong>";
  section.appendChild(nameField);
  
  $('#' + nameField.id).css("float", "left");
  $('#' + section.id).css({ left: json.x, top: json.y, width: json.width, height: json.height });
}

function unlockCanvas(sectionId) {
  // Section events
  $('#' + sectionId).draggable({                
    stop: function (event, ui) {
      var id = getIdFromEvent(ui);
      var x = Math.round(ui.position.left);
      var y = Math.round(ui.position.top);
      post("/CanvasSection/UpdatePosition?sectionId=" + id + "&x=" + x + "&y=" + y);
    },
    drag: resizeContainerIfNecessary
  }).resizable({
    stop: function (event, ui) {
      var id = getIdFromEvent(ui);
      var width = Math.round(ui.size.width);
      var height = Math.round(ui.size.height);
      post("/CanvasSection/UpdateSize?sectionId=" + id + "&width=" + width + "&height=" + height);
    },
    resize: resizeContainerIfNecessary
  }).click(function() {
    var nameFieldId = sectionId + "Name";
    var nameField = document.getElementById(nameFieldId);
    nameField.focus();
  });

  var nameFieldId = sectionId + "Name";
  var nameField = document.getElementById(nameFieldId);
  nameField.setAttribute("contenteditable", "true");
}

function resizeContainerIfNecessary(event, data, child) {            
  if (child == null) {
    var child = $(this);
  }

  var container = $("#tabs-ideation");
  var padding = 100;            

  if (child.position().top > container.height() - child.height()) {
    container.height(child.position().top + child.height() + padding);
  }
}

<% @spark.canvas_sections.each do |c| %>
  var json  = <%= raw c.to_json %>;
  var sectionId = 'section' + json.id;
  addSection(json);
  alert("Unlocking " + sectionId);
  unlockCanvas(sectionId);
<% end %>