<div id="tabs-ideation">
  <% if current_user.nil? || !current_user.can_edit?(@spark) %>
    <p>Only the owner and team members can change ideation sections.</p>
  <% end %>
  <div id="sectionContainer">
  </div>
</div>

<% content_for :javascript do %>
  <%= render :partial => 'sparks/js/common.js' %>      
  <%= render :partial => 'sparks/js/sections.js' %>
<% end %>