<div id="tabs-ideation">
  <div id="sectionContainer">
  </div>
</div>

<% content_for :javascript do %>
  <%= render :partial => 'sparks/js/common.js' %>      
  <%= render :partial => 'sparks/js/sections.js' %>
<% end %>