  <script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
  </script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-details" id="detailsTab">Details</a></li>
        <li><a href="#tabs-ideation" id="ideationTab">Ideation</a></li>
    </ul>

<%= render 'main_details' %>
<%= render 'ideation' %>